apiVersion: stackconfigpolicy.k8s.elastic.co/v1alpha1
kind: StackConfigPolicy
metadata:
  name: lsdmop-stack-config-policy
  namespace: lsdmop
spec:
  resourceSelector:
    # matchLabels:
    #   env: my-label
  elasticsearch:
    # clusterSettings:
    #   indices.recovery.max_bytes_per_sec: "100mb"


    indexLifecyclePolicies:
      allquiet-ilm:
        phases:
          hot:
            actions:
              rollover:
                max_size: 5gb
            min_age: 7d
    indexTemplates:
      componentTemplates:
        aq-mappings:
          template:
            mappings:
              "properties": 
                "@timestamp": 
                  "type": "date"
                "CorrelationId": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Customer": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Description": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Environment": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Platform": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Product": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Runbook": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Stage": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Summary": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Team": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "Tier": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "URL": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "eventId": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "incidentCreatedAt": 
                  "type": "date"
                
                "incidentId": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "incidentSeverity": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "incidentTitle": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
                "incidentURL": 
                  "type": "text"
                  "fields": 
                    "keyword": 
                      "type": "keyword"
                      "ignore_above": 256
        aq-settings:
          template:
            settings:
              index.lifecycle.name: allquiet-ilm
              number_of_replicas: 0
              number_of_shards: 1
      composableIndexTemplates:
        allquiet-incidents-template:
          composed_of:
            - aq-mappings
            - aq-settings
          data_stream: {}
          index_patterns:
            - allquiet-incidents-*
          priority: 200


    config:
      xpack.security.authc.realms:
        native:
          native1:
            order: 0
            enabled: true
        saml:
          saml1:
            enabled: true
            attributes.principal: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/username"
            attributes.groups: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/groups"
            attributes.name: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname"
            attributes.mail: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"
            enabled: true
            idp.entity_id: https://login.lsdopen.io/nidp/saml2/metadata
            idp.metadata.path: >-
              https://login.lsdopen.io/nidp/saml2/metadata?PID=https://kibana-lsdmop.apps.lsdopen.io/
            nameid_format: urn:oasis:names:tc:SAML:2.0:nameid-format:unspecified
            order: 2
            sp.acs: >-
              https://kibana-lsdmop.apps.lsdopen.io/api/security/saml/callback
            sp.entity_id: https://kibana-lsdmop.apps.lsdopen.io/
            sp.logout: https://kibana-lsdmop.apps.lsdopen.io/logout

